.featured-products {

    margin-top: 10vh;
    margin-bottom: 20vh;
    font-family: Lato, sans-serif;

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    &__header {
        font-size: 1.5rem;
        color: $color-secondary-darker;
        padding: 1.5rem 0 1.5rem 0;
    }

    &__overline, &__underline {
        width: 100vw;
        height: 1px;
        border-bottom: 2px solid $color-secondary-darker;
    }

    &__carousel {
        margin-top: 1vh;
    }

}
#featured-products__card-text {
    opacity: 0;
}

.card:hover ~ .featured-products__card-text{
    opacity: 1;
}

