.featured-products {
    margin-top: 10vh;
    margin-bottom: 20vh;
    font-family: Lato, sans-serif;

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    &__header {
        font-size: 1.5rem;
        color: $color-secondary-darker;
        padding: 1.5rem 0 1.5rem 0;
    }

    &__overline, &__underline {
        width: 100vw;
        height: 1px;
        border-bottom: 2px solid $color-secondary-darker;
    }

    &__dark-shadow {
        color: black;
        background-color: rgba(0, 0, 0, .5);
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: absolute;
        right: 5.8rem;
        margin-top: 1.2rem;
    }

    &__carousel {
        margin-top: 1vh;
    }

    &__card-text {
        visibility: hidden;
        opacity: 0;
    }

    &__img:hover ~ &__card-text {
        visibility: visible;
        opacity: 1;
    }
}


