@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    color: #505962
}

.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block
}


/*==============NAVBAR=============*/
.navbar {
    padding-right: 30rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
    background: rgba(0, 0, 0, .7);
}

.navbar-brand img {
    height: 5rem
}

.svg-inline--fa.fa-w-14 {
    color: #fff;
    font-size: 1.6rem
}

.navbar-nav li {
    padding-right: .8rem
}

.navbar-nav .nav-link {
    color: #fff;
    padding-top: 2rem
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #c7ad86
}

.navbar.solid {
    background: rgba(0, 0, 0, .4) !important;
    transition: background-color 1s ease 0s
}

/*============= RECIPES SECTION =============*/

/*------------- RECIPES GALLERY -------------*/

.row-recipes {
    display: flex;
    flex-wrap: wrap;
}

/* Creates four equal columns that sits next to each other */
.column-recipes {
    position:relative;
    flex: 50%;
    max-width: 25%;
    padding: 0 4px;
}

.column-recipes img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column-recipes img:hover {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    transition: ease 1s;
}

.column-recipes span {
    opacity: 0;
    bottom: 15rem;
    color: #fff;
    z-index: 1;
    position: absolute;
}

.column-recipes span:hover {
    position: relative;
    z-index: 9999;
    opacity: 1;

}

.recipes {
    position:relative;
    transition:.3s;
}

.recipes img {
    vertical-align: middle;
    width: 100%;
    transition:.3s;
}

.recipes:hover img{
    -webkit-filter: blur(4px);
    filter: blur(4px);
    box-shadow:0 0 16px #fff;
}

.recipes h4{
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    text-transform: uppercase;
    font-weight: 700;
    transition: 1s;
    text-shadow: 1px 1px #1b1e21;
}


.recipes:hover :not(img) {
    opacity: 1;
}

/*-------------FEATURE-RECIPES GALLERY------------*/

.featured-recipes {
    position:relative;
    transition:.3s;
}

.featured-text-recipes {
    font-size: 2rem;
    text-shadow: 1px 1px #1b1e21;
}

.featured-recipes h4 {
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    text-transform: uppercase;
    font-weight: 700;
    transition: 1s;
    text-shadow: 1px 1px #1b1e21;
}

.featured-recipes img {
    filter: brightness(70%);
}

.featured-recipes img:hover {
    filter: brightness(100%);
}

/*.recipes:hover :not(img) {*/
/*    opacity: 1;*/
/*}*/


.square {
    position: relative;
    height: 23rem;
    width: 23rem;
    background: rgba(27, 24, 27, 0.8);
    text-align: center;
    clip-path: polygon(0 50%, 5% 45%, 5% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 5% 100%, 5% 55%, 0 50%);
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    padding-top: 30%;
    color: #e3a857;
    font-family: Lato, sans-serif;

    text-align: center;

}

.no-margin {
    margin-left: 0;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column-recipes {
        flex: 50%;
        max-width: 50%;
    }
}

/*============= CART PAGE ==============*/
body {
    height: 100%;
}

.shopping-cart [class*="col-"] {
    padding-left: 0;
}

.product-name {
    text-decoration: none;
    color: #53595f;
}

.product-name:hover {
    text-decoration: none;
    color: #c7ad86;
}

.quantity {
    background-color: #eee;
    position: relative;
    width: 50px;
    overflow: hidden

}

#trash-btn:hover {
    color: #c7ad86;
}

#continue-shopping-btn:hover {
    background-color: #ddd;
    color: #c7ad86;
}

#shopping-cart-checkout{
    margin-left: 3rem;
}

#shopping-cart-checkout:hover{
    background-color: white;
    color: #f2a949;
}

#shopping-cart-add:hover{
    background-color: white;
    color: #f2a949;
}

#total-price {
    margin-top: 1rem;
    margin-left: 10rem;
    padding-left: 10rem;
    width: 25rem;
    text-align: left;
}

.card-footer {
    margin-top: 3rem;
}

#checkout-button-section {
    padding-left: 60rem;
    margin-left: 30rem;
}

/*====================================================*/

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1
}

.caption h1 {
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem #000;
    padding-bottom: 1rem
}

.caption h3 {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem #000;
    padding-bottom: 2rem
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block !important
}

#shop-now-button {
    margin-top: 25rem
}

.col.dark {
    width: 30rem;
    height: 100rem
}

.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem
}

.btn-sm {
    border-width: medium;
    border-radius: 0;
    padding: .5rem 1.1rem;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem
}

.btn-turquoise {
    border-color: #777;
    background-color: #c7ad86;
    color: #fff
}

.btn-turquoise:focus, .btn-turquoise:hover {
    border-color: #777;
    background-color: #fff;
    color: #777;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1rem 0 3rem
}

h3.heading {
    padding-top: 8rem;
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-shadow: .5px .5px;
    margin-bottom: 1.9rem;
    opacity: 1;
    color: #666b71;
    visibility: visible;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #c7ad86;
    margin: 0 auto 2rem
}

.feature {
    text-align: center
}

.feature .fa-layers {
    color: #c7ad86;
    margin: 0 auto;
    width: 3.9rem;
    height: 6rem
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem
}

.feature p {
    font-size: 1.1rem
}

#about-fixed {
    background-image: url(/public/assets/img/fresh-truffles/WhatIsTruffle_01-1920x1080.jpg);
    z-index: -1;
    height: 60.6rem
}

.dark {
    background-color: rgba(0, 0, 0, .75);
    padding: 7rem 2rem;
    text-align: center;
    z-index: 1000 !important;
    height: 60.6rem
}

.dark h3, .dark p {
    color: #e9ecef
}

.product-name:hover {
    cursor: pointer;
}

#products-row {
    margin-top: -10rem;
    padding-left: 10rem
}

.row.padding {
    padding: 2rem 0 5rem
}

img.example-image {
    max-width: 80%;
    max-height: 80%
}

img.recipes-image {
    max-width: 20rem;
    max-height: 20rem
}

.row.no-padding [class*=col-] {
    padding: 0rem;
}

.no-padding{
    padding:0;
}

.portfolio-item img:hover {
    transform: scale(1.3);
    cursor: zoom-in
}

.portfolio-item img {
    transition: transform .4s ease
}

.portfolio-item {
    overflow: hidden
}

#about-us {
    margin-top: 1rem
}

#about-us-heading {
    margin-top: 1rem
}

.light {
    background-color: rgba(255, 255, 255, .85);
    padding: 3rem 2rem 2rem;
    z-index: 1000 !important
}

.card {
    border-radius: 0;
    border: .1rem solid rgba(0, 0, 0, .075);
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    margin: 0 1rem;
    transition: transform .4s ease
}

.card-img-top {
    border-radius: 0
}

.card:hover {
    transform: scale(.95)
}

.card h4 {
    font-weight: 700
}

.card h5 {
    color: #1ebba3
}

.card p {
    border-top: .1rem solid rgba(0, 0, 0, .1);
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    padding: 1rem;
    margin: 1rem 0 1.5rem
}

.card svg.svg-inline--fa {
    color: #c7ad86 !important;
    font-size: 1.3rem;
    width: 2rem
}

.card svg.svg-inline--fa:hover {
    color: #6c757d !important
}

.owl-dot.active span, .owl-dot:hover span {
    background: #1ebba3 !important
}

footer {
    background: url('../assets/img/fresh-truffles/portada-web-jpg.jpg') no-repeat;
    background-color: #40474e;
    background-size: cover;
    color: white;
}

footer .row {
    background-color: rgba(57, 63, 70, .85);
    padding: 1rem 2rem 3rem
}

footer img {
    height: 5rem;
    margin: 1.5rem 0
}

footer a {
    color: #fff
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0
}

footer svg.svg-inline--fa:hover {
    color: #c7ad86 !important
}

footer h3 {
    text-transform: uppercase;
    margin: 1.5rem 0
}

.form-group {
    margin-bottom: 1.3rem
}

.form-control {
    background-color: rgba(0.0.0.0 .5);
    border-radius: 0;
    border: .15rem solid #c7ad86;
    color: #000 !important;
    font-size: 1.1rem
}

.form-control:focus {
    background: #c7ad86;
    border: .15rem solid #c7ad86
}

.form-group input::placeholder, .form-group textarea::placeholder {
    color: #505962 !important;
    font-size: 1.5rem;
}

input.btn {
    cursor: pointer
}

hr.socket {
    border-top: .2rem solid #666b71;
    width: 100%
}

.top-scroll svg.svg-inline--fa {
    font-size: 3rem;
    height: 1.7rem;
    color: #53595f;
    background: #fff
}

a.top-scroll {
    right: 1.2rem;
    bottom: 1.2rem;
    position: fixed;
    opacity: .3;
    z-index: 1000;
    display: none
}

a.top-scroll:hover {
    opacity: .5
}

@media (max-width: 991px) {
    .caption h1 {
        font-size: 3.5rem;
        letter-spacing: .2rem;
        padding-bottom: .8rem
    }

    .caption h3 {
        font-size: 2.2rem;
        padding-bottom: 1.7rem
    }

    .btn-lg {
        padding: .7rem 1.2rem;
        font-size: 1rem
    }

    .narrow h1 {
        font-size: 2.1rem
    }
}

@media (max-width: 767px) {
    .caption h1 {
        font-size: 2.7rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem
    }

    .caption h3 {
        font-size: 1.7rem;
        padding-bottom: 1.2rem
    }

    .btn-lg {
        padding: .6rem 1.1rem;
        font-size: 1rem
    }

    .narrow h1 {
        font-size: 1.8rem
    }

    #fixed {

    }

    #fixed-2 {

    }

    footer {

    }

    .clients img {
        max-width: 50%;
        margin: 0 auto
    }

    .top-scroll {
        display: none !important
    }
}

@media (max-width: 575px) {
    .caption h1 {
        font-size: 1.9rem;
        letter-spacing: .1rem;
        padding-bottom: .4rem
    }

    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1rem
    }

    .btn-lg {
        padding: .4rem .9rem;
        font-size: .9rem
    }

    .narrow {
        width: 85%
    }
}


/*START OF CHEVRON DOWN ARROW*/
.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    width: 60px;
    height: 50px;
    color: black;
}

.container-chevron{
    margin-top: 8rem;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;

}

@media (max-width: 40rem) {
    .container-chevron {
        display: none;
    }
    #shopping-cart-add {
        margin-left: 35%;
    }
    #description-row   {
    text-align: center;
    }
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #c7ad86;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}


.container-fluid, .row {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.fixed-top {
    -webkit-backface-visibility: hidden
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.might-like {
    font-size: 1.5rem;
    color:#666b71;
    text-transform: uppercase;
    text-shadow: .5px .5px;
}

#might-like-card {
    font-family: "Lato";
    text-transform: uppercase;
    color:#666b71;
    font-weight: 700;
}





