/*====== HOVER ======*/

.container-overlay {
  position: relative;
  text-align: center;
  color: white;
}

.centered-overlay-recipes {
  position: absolute;
  height: 10rem;
  /*padding-bottom: 30rem;*/
  /*padding-left: 12rem;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-overlay {
  position: absolute;
  height: 10rem;
  /*padding-bottom: 30rem;*/
  /*padding-left: 12rem;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-family: Lato, sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  font-family: Lato, sans-serif;
  font-weight: 700;
  padding: 2em 0;
  margin-top: 20rem;
  width: 10rem;
  line-height:0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*===========HEADER============*/

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*=========== MODAL ==========*/

img.modal-images {
 height: auto;
  width: auto;
}

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-sm {
  border-width: medium;
  border-radius: 0;
  padding: .5rem .1rem;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-turquoise {
  border-color: #f2a949;
  background-color: #f2a949;
  color: white;
}
.btn-turquoise:hover,
.btn-turquoise:focus {
  border-color: #f2a949;
  background-color: #f2a949;
  color: white;
}
.jumbotron {
  height: 100%;
  width: 160rem;
  margin-bottom: 0;
  border-radius: 0;
  padding: 1rem 0 3rem;
}
h3.heading {
  padding-top: 5rem;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}

h4.heading {
  padding-top: 2rem;

  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #f2a949;
  margin: 0 auto 2rem;
}

.heading-underline-full-width {
    width: 50rem;
    height: .2rem;
    background-color: #f2a949;
    margin: 0 0 2rem;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.about-heading {
    color: #f2a949;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 5rem;
}

.feature {
  text-align: center;
}
.feature .fa-layers {
  color: #f2a949;
  margin: 0 auto;
  width: 3.9rem;
  height: 6rem;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}

#fresh-heading {
  margin: 10rem;
}

#add-to-basket:hover {
  background-color: white;
  color: #f2a949;
}

#bold {
  font-weight: 700;
}
/*===== FIXED BACKGROUND IMG DARK =====*/

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 7rem 2rem;
  text-align: center;
  z-index: 1000!important;
  height: 60.6rem;
}
.dark h3, .dark p {
  color: #E9ECEF;
}


/*============= CONTACT AND FOOTER SECTION =============*/

#contacts-row {
  height: 60.55rem;
  margin-top: 6.6rem;
  padding-top: 28rem;
}

footer {
  background: url('../assets/img/fresh-truffles/portada-web-jpg.jpg') no-repeat;
  background-color: #40474e;
  background-size: cover;
  color: white;

}
footer .row {
  background-color: rgba(57, 63, 70, 0.85);
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 5rem;
  /*margin: 1.5rem 0;*/
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #f2a949!important;
}
footer h3 {
  text-transform: uppercase;
  margin: 1.5rem 0;
}


/*============ CONTACT FORM ==========*/
.form-group {
  margin-bottom: 1.3rem;
}
.form-control {
  background-color: #53595f;
  border-radius: 0;
  border: .15rem solid #666b71;
  color: white!important;
  font-size: 1.1rem;
}
.form-control:focus {
  background: #53595f;
  border: .15rem solid #666b71;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #b2b5b8!important;
}
input.btn {
  cursor: pointer;
}
hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}

/*============= CART PAGE ==============*/
body {
    height: 100%;
}

.shopping-cart [class*="col-"] {
  padding-left: 0rem;
}

.shopping-cart img {
  height: 15rem;
  width: 15rem;
  margin-left: -10rem;
  margin-top: -2rem;
}

.product-name {
  text-decoration: none;
  color: #53595f;
}

.product-name:hover {
  text-decoration: none;
  color: #f2a949;
}

.quantity {
  /*float: left;*/
  /*margin-right: 15px;*/
  background-color: #eee;
  position: relative;
  width: 50px;
  overflow: hidden
}

#trash-btn:hover {
  color: #f2a949;
}

#continue-shopping-btn:hover {
  background-color: #ddd;
  color: #f2a949;
}

#shopping-cart-checkout{
  margin-left: 3rem;
}

#shopping-cart-checkout:hover{
  background-color: white;
  color: #f2a949;
}

#shopping-cart-add:hover{
  background-color: white;
  color: #f2a949;
}

#total-price {
  margin-top: 1rem;
  margin-left: 10rem;
  padding-left: 10rem;
  width: 25rem;
  text-align: left;
}

.card-footer {
  margin-top: 3rem;
}

#checkout-button-section {
    padding-left: 60rem;
    margin-left: 30rem;
}


/*============= SCROLL DOWN =============*/

#recipe-scroll-2 {
    margin-top: 25rem;
    margin-left: 25rem;
}


.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #f2a949;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

/*============= STRIPE =================*/

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  padding: 16px 16px;
  border: 1px solid #ccc;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: red;
}

/*============= TOP SCROLL =============*/

.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}
a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
}
a.top-scroll:hover {
  opacity: .5;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991px) {
  .caption h1 {
    font-size: 3.5rem;
    letter-spacing: .2rem;
    padding-bottom: .8rem;
  }
  .caption h3 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }
  .btn-lg {
    padding: .7rem 1.2rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 2.1rem;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .6rem 1.1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.8rem;
  }
  #fixed {
    background-image: url('/public/assets/img/fresh-truffles/truffle.png');
  }
  #fixed-2 {
    background-image: url('/public/assets/img/fresh-truffles/truffle.png');
  }
  .clients img {
    max-width: 50%;
    margin: 0 auto;
  }
  .top-scroll {
    display: none!important;
  }
}

/* Devices under 576px (sm) */
@media (max-width: 575px) {
  .caption h1 {
    font-size: 1.9rem;
    letter-spacing: .1rem;
    padding-bottom: .4rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .btn-lg {
    padding: .4rem .9rem;
    font-size: .9rem;
  }
  .narrow {
    width: 85%;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
