.header {
  height: 95vh;
  background-image: linear-gradient( to right bottom,
          rgba($color-gray-light-2, 0.8),
          rgba($color-primary-dark, 0.8)),
  url('../img/truffle.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  &__logo-box {
    position: absolute;
    border-radius: 50%;
    right: -.4rem;
    top: -.5rem;
  }

  &__logo {
    height: 8rem;

    &--glowEffect {
      border-radius: 100px;
      animation: glowEffect 3s ease infinite;
      animation-delay: 0ms;
    }

    &--glowEffect-after {
        border-radius: 100px;
        animation: glowEffect-after 3s ease infinite;
        animation-delay: 0ms;
    }


  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


  }

}

