.index-products {
    margin-top: 25vh;
    margin-bottom: 20vh;
    font-family: Lato, sans-serif;


    &__overline, &__underline {
        width: 100vw;
        height: 1px;
        border-bottom: 2px solid #B8860B;
    }

    &__header {
        font-size: 2rem;
        color: #B8860B;
        padding: 1.5rem 0 1.5rem 0;
    }
}

